/* 登录台 */
.ntt_loginPage {
    width: 21.25rem;
    height: 10.5rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
    box-shadow: 0.05rem 0.05rem 0.125rem #ff8019;
    .ntt-avtar {
        width: 6.25rem;
        height: 100%;
        background-color: #dcdcdc;
        padding: .25rem 0;
        p {
            text-align: center;
            color: #585858;
        }
        .ntt-avtar1, .ntt-avtar2 {
            height: 50%;
            padding: .375rem 0;
            .code {
                margin: 0 auto .125rem;
                width: 3.05rem;
                height: 3rem;
                background: url('/static/img/code.png');
                background-size: 100%;
            }
        }
        .ntt-avtar2 .code {
            background-position: 0 -3.025rem;
        }
    }
    .ntt_loginForm {
        //width: 15rem;
        width: 21.2rem;
        height: 100%;
        background-color: #fff;
        position: relative;
        padding: 1rem 2.5rem;
        &:before {
            //border: solid transparent;
            content: ' ';
            height: 0;
            top: 20%;
            position: absolute;
            width: 0;
            border-width: .25rem;
            border-right-color: #fff;
            left: -.5rem;
        }
        h3 {
            font-size: .6rem;
            color: #ff8019;
            text-align: center;
            line-height: 1.1rem;
            margin-bottom: .625rem;
        }
        .svg-container {
          padding: 0.15rem 0.125rem 0.15rem 0.375rem;
          color: #999;
          vertical-align: middle;
          width: 1rem;
          line-height: 1rem;
          display: inline-block;
          font-size: 0.75rem;
        }
        .el-form-item {
          border: 0.025rem solid rgba(255, 255, 255, 0.1);
          background: #eee;
          border-radius: 0.125rem;
          color: #ddd;
          .el-input {
            display: inline-block;
            width: 85%;
            input {
              background: transparent;
              -webkit-appearance: none;
              border:none;
              border-radius: 0;
              padding: 0.3rem 0.125rem 0.3rem 0.375rem;
              color: #999;
              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px #eee inset !important;
                -webkit-text-fill-color: #666 !important;
              }
            }
          }
          &.log-box{
            background: none;

          }
        }
    }

}
